**/*.bat
**/*.md
**/*.yml
**/.dockerignore
**/.editorconfig
**/.git
**/.gitattributes
**/.github
**/.gitignore
**/.vs
**/.vscode
**/coverage
**/dist
**/dockerfile
**/node_modules
**/package-lock.json
