name: build
on:
    push:
        branches: [main]
jobs:
    build:
        runs-on: ubuntu-latest
        steps:
            - name: Checkout
              uses: actions/checkout@v4

            - name: Node Setup
              uses: actions/setup-node@v4
              with:
                  node-version: latest
                  check-latest: true

            - name: Node Build
              run: |
                  npm install
                  npm run build

            - name: Artifact Upload
              uses: actions/upload-artifact@v4
              with:
                  name: app
                  path: dist
